<% content_for :topic_options do %>

  <%= link_to "× Excluir tópico", subject_topic_path(@subject,@topic), :class => "btn danger", :confirm => 'Tem certeza que deseja excluir este registro?', :method => :delete if @topic.id != nil && current_user %>

<% end %>

<%= content_for :topic_nav do %><% end %>

<hr/>

<%= form_for([@subject,@topic], :html => { :class => "form-stacked" }) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation" class="alert-message error">
      <%= pluralize(@topic.errors.count, "error") %> erro(s) encontrado(s):

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix<% if @topic.errors[:title].any? %> error<% end %>">
    <%= f.label :title, "Título" %>
    <div class="input"><%= f.text_field :title, :class => "span9" %></div>
  </div>

  <div class="clearfix<% if @topic.errors[:description].any? %> error<% end %>">
    <%= f.label :description, "Descrição" %>
    <div class="input"><%= f.text_field :description, :class => "span9" %></div>
  </div>

  <div class="clearfix<% if @topic.errors[:content].any? %> error<% end %>">
    <%= f.label :content, "Conteúdo" %>
    <div class="input"><%= f.text_area :content, :class => "mceEditor span9" %></div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
