<% content_for :topic_content do %>
<h2><%=t :edit_topic %> (<%= link_to @subject.title, subject_path(@subject) %>)</h2>

<%= render 'edit_form' %>

<%= link_to 'Show', subject_topic_path(@subject,@topic) %> |
<%= link_to 'Topics', subject_topics_path(@subject) %>
<% end %>
