<h1>Editando <%= link_to @subject.title, subject_path(@subject) %> > <%= link_to @topic.title, subject_topic_path(@subject,@topic) %></h1>

<%= render 'edit_form' %>

<%= link_to 'Show', subject_topic_path(@subject,@topic) %> |
<%= link_to 'Topics', subject_topics_path(@subject) %>
