<% content_for :subject_topic_title do %>/Novo tópico<% end %>


<%= content_for :topic_title do %>
  <small><%= @subject.title %></small>
<% end %>

<%= content_for :topic_options do %>
  <%= link_to '← Voltar', subject_path(@subject), :class => "btn" %>
<% end %>

<%= content_for :topic_content do %>
  <h2>Criar tópico</h2>
  
  <hr style="margin-top:0;"/>

  <%= render 'form' %>

<% end %>
