<% content_for :topic_options do %>
  <%= link_to 'Editar Tópico', edit_subject_topic_path(@subject,@topic) %> |
<% end %>
<% content_for :topic_content do %>
  <p id="notice"><%= notice %></p>

  <h2><%= @topic.title %></h2>

  <p>
    <%= @topic.description %>
  </p>

  <p>
    <%= @topic.content.html_safe %>
  </p>

  <p>
    <b>Autor:</b>
    <%= @topic.user %>
  </p>

<% end %>
