<p id="notice"><%= notice %></p>

<h1><%= link_to @subject.title,subject_path(@subject) %> > <%= link_to @topic.title,subject_topic_path(@subject,@topic) %></h1>

<p>
  <%= @topic.description %>
</p>

<p>
  <%= @topic.content %>
</p>

<p>
  <b>Autor:</b>
  <%= @topic.user %>
</p>


<%= link_to 'Edit', edit_subject_topic_path(@topic) %> |
<%= link_to 'Back', subject_topics_path(@subject) %>
