<% content_for :topic_options do %>

<% end %>
<% content_for :topic_content do %>
  <h2>
    <%= @subject.title %>
    <% if current_user %><small>[<%= link_to 'editar', edit_subject_path(@subject) %>]<% end %></small> &rarr; 
    <%= @topic.title %>
    <% if current_user %><small>[<%= link_to 'editar', edit_subject_topic_path(@subject,@topic) %>]</small><% end %>
  </h2>
  
  <div class="tfooter"><%= @topic.created_at.strftime("%e %B, %Y") %> | <%= @topic.user %></div>
  <p>
    <%= @topic.description %>
  </p>

  <p>
    <%= @topic.content.html_safe %>
  </p>

<% end %>
