<h2 class="nav_title" style="margin-bottom:18px;">Esqueceu sua senha?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, :placeholder => "Email*" %>

  <%= f.submit "Enviar instruções para recuperação de senha", :class => "btn" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
