<%= form_for(@news, :html => { :multipart => true, :class => "form-stacked" }) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation" class="alert-message error">
      <%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix<% if @news.errors[:title].any? %> error<% end %>">
    <%= f.label :title %>
    <div class="input">
      <%= f.text_field :title, :class => "span10" %>
    </div>
  </div>
  
  <div class="clearfix<% if @news.errors[:content].any? %> error<% end %>">
    <%= f.label :content %>
    <div class="input">
      <%= f.text_area :content, :class => "mceEditor span10" %>
    </div>  
  </div>
  
  <div class="clearfix<% if @news.errors[:picture].any? %> error<% end %>">
    <%= f.label :picture %>
    <div class="input">
      <%= f.file_field :photo %>
    </div>  
  </div>

  <div class="actions">
    <%= f.submit :class => "btn success", :value => "✓ Salvar" %>
  </div>
<% end %>
