<h1>II. Notícias</h1>
<% if current_user %><%= link_to 'Criar notícia', new_news_path %><% end %>

<%= will_paginate @news %>
<hr/>
<% @news.each do |n| %>
  <div>
    <%= n.created_at %> | Por <%= n.user %>
    <h2><%= n.title %></h2>
    <%= n.content.html_safe %>
  </div>
  <hr/>
<% end %>
