<%= link_to 'Criar notícia', new_news_path if current_user %>
<br/>
<%= page_entries_info @news %>
<hr/>
<% @news.each do |n| %>
  <div>
    <div class="title"><%= link_to n.title, news_path(n) %></div>
    <div class="tfooter"><%= n.created_at.strftime("%e %B, %Y %H:%M") %> | <%= n.user %></div>
    <%= n.content.html_safe %>
  </div>
  <hr/>
<% end %>

<%= will_paginate(@news, :renderer => BootstrapLinkRenderer) %>
