<h1>II. Notícias</h1>
<% if current_user %><%= link_to 'Criar notícia', new_news_path %><% end %>
<br/>
<%= page_entries_info @news %>
<hr/>
<% @news.each do |n| %>
  <div>
    <span style="color:#AAAAAA;"><%= n.created_at %> | Por <%= n.user %></span>
    <h2 style="color:#333333"><%= link_to n.title, news_path(n) %></h2>
    <%= n.content.html_safe %>
  </div>
  <hr/>
<% end %>

<%= will_paginate @news %>
