<p id="notice"><%= notice %></p>

<p>
  <%= @news.title %>
</p>

<p>
  <%= @news.content.html_safe %>
</p>

<p>
  <%= @news.user %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
