<h1 class="nav_title"><%=t :talk_to_us %></h1>

<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "erro") %> encontrado(s):</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :firstName, :placeholder => "Nome*" %>

  <%= f.text_field :lastName, :placeholder => "Sobrenome*", :class => "pull-right" %>

  <%= f.text_field :email, :placeholder => "Email*" %>

  <%= f.text_field :age,:placeholder => "Idade*", :class => "pull-right" %>

  <!--<%= f.label :message %>-->
  <%= f.text_area :message, :placeholder => "Mensagem*", :class => "span8" %>
  
  <%= f.hidden_field :read, :value => false %>
  
  <%= recaptcha_tags %>

  <div class="actions"><%= f.submit :class => "btn primary", :value => "Enviar" %></div>
<% end %>
