<% content_for :title do %>/Caixa de entrada<% end %>


<h1 class="nav_title">Lista de Mensagens</h1>

<%= page_entries_info @contacts %>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Email</th>
      <th>Opções</th>
    </tr>
  <thead>
  <% @contacts.each do |c| %>
    <tr>
      <td><%= c.firstName << " " << c.lastName %></td>
      <td><%= c.age %></td>
      <td><%= c.email %></td>
      <td><%= link_to 'Mostrar', contact_path(c) %> | <%= link_to 'Excluir', c, :confirm => 'Tem certeza que deseja excluir este registro?', :method => :delete %></td>
    </tr>
  <% end %>
  <tr>    
</table>

<%= will_paginate @contacts %>
