<h2>Lista de Mensagens</h2>

<%= page_entries_info @contacts %>
<% @contacts.each do |c| %>
  <hr/>
  <%= c.firstName << " " << c.lastName %>
  <ul>
    <li>Idade: <%= c.age %></li>
    <li>Email: <%= c.email %></li>
  </ul>
  <%= link_to 'Mostrar', contact_path(c) %>
  <%= link_to 'Excluir', c, :confirm => 'Tem certeza?', :method => :delete %>
  
<% end %>

<%= will_paginate @contacts %>
