<%= content_for :title do %>/Caixa de entrada/<%= @contact.firstName %><% end %>


<h1 class="nav_title">Visualização de mensagem</h1>

<%= link_to "× Excluir mensagem", @contact, :class => "btn danger", :confirm => 'Tem certeza que deseja excluir esta mensagem?', :method => :delete if  current_user %>
<%= link_to '← Voltar', contacts_path, :class => "btn action_button" %>

<p>
  <strong>De:</strong> <%= @contact.firstName << " " << @contact.lastName %>
</p>

<p>
  <strong>Data:</strong> <%= I18n.localize(@contact.created_at) %>
</p>

<p>
  <strong>Email:</strong> <%= @contact.email %>
</p>

<p>
  <strong>Idade:</strong> <%= @contact.age %>
</p>

<p>
  <%= @contact.message.html_safe %>
</p>
