<% content_for :title do %>/Caixa de entrada/<%= @contact.firstName %><% end %>


<h1 class="nav_title">Visualização de mensagem</h1>

<%= link_to "× Excluir mensagem", @contact, :class => "btn danger", :confirm => 'Tem certeza que deseja excluir esta mensagem?', :method => :delete if  current_user %>
<%= link_to '← Voltar', contacts_path, :class => "btn action_button" %>

<p>
  De: <%= @contact.firstName << " " << @contact.lastName %>
</p>

<p>
  Data: <%= @contact.created_at.strftime("%e %B, %Y %H:%M") %>
</p>

<p>
  Email: <%= @contact.email %>
</p>

<p>
  Idade: <%= @contact.age %>
</p>

<p>
  <%= @contact.message.html_safe %>
</p>
