<%= form_for(@subject, :html => { :class => "form-stacked" }) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation" class="alert-message error">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix<% if @subject.errors[:title].any? %> error<% end %>">
    <%= f.label :title, "Título" %>
    <div class="input"><%= f.text_field :title, :class => "span10" %></div>
  </div>
  
  <div class="clearfix<% if @subject.errors[:description].any? %> error<% end %>">
    <%= f.label :description, "Descrição" %>
    <div class="input"><%= f.text_field :description, :class => "span10" %></div>
  </div>
  
  <div class="clearfix<% if @subject.errors[:content].any? %> error<% end %>">
    <%= f.label :content, "Conteúdo" %>
    <div class="input"><%= f.text_area :content, :class => "mceEditor span10" %></div>
  </div>
  
  <div class="actions">
    <%= f.submit :class => "btn success", :value => "✓ Salvar" %>
  </div>
<% end %>
