<% content_for :subject_title do %>/Novo tema<% end %>


<%= content_for :subject_options do %>
  
  <%= link_to 'â† Voltar', subjects_path, :class => "btn" %>  

<% end %>


<%= content_for :subject_content do %>
  
  <h2 style="margin-top:18px;"><%=t :new_subject %></h2>
  
  <hr style="margin-top:0;"/>
  
  <%= render 'form' %>

<% end %>
