<div class="row">
  <div class="span6 offset5">
    <h2 class="nav_title" style="margin-bottom:18px;" align="center">CIPP Toledo&nbsp;<small>ACESSO RESTRITO!</small></h2>
  
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.email_field :email, :placeholder => "Email", :class => "span6" %></p>

      <%= f.password_field :password, :placeholder => "Senha", :class => "span6" %></p>

      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <%= f.label :remember_me, :style => "float:none;" %>
      <% end -%>

      <%= f.submit "Entrar", :class => "btn primary pull-right" %>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
    
    <hr/>
    
  </div>
</div>
