<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clinica</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'bootstrap/bootstrap.css', :media => 'screen' %>
    
    <!-- fav icons and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <%= javascript_include_tag 'jquery-1.6.4.js' %>    
    <%= javascript_include_tag 'bootstrap/bootstrap-dropdown.js' %>
    <%= javascript_include_tag 'bootstrap/bootstrap-alerts.js' %>
    <%= javascript_include_tag 'bootstrap/bootstrap-scrollspy.js' %>
    <%= javascript_include_tag :defaults %>
    
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
    <%= include_tiny_mce_if_needed %>
    
  </head>
  
  <body>
    
    <div class="topbar" data-scrollspy="scrollspy">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">CIPP Toledo</a>
          <ul class="nav">
            <li class="active"><%= link_to "I. Início","/" %></li>
            <li><%= link_to "II. Notícias",noticias_path %></li>
            <li><%= link_to "III. Temas",temas_path %></li>
            <li><%= link_to "IV. Contato",contato_path %></li>
          </ul>
          <form class="pull-left" action="">
            <input type="text" placeholder="Pesquisar">
          </form>
          <%= render 'devise/menu/login_items' %>
          <%= render 'devise/menu/registration_items' %>
        </div>
      </div>
    </div>
    
    <div class="container">
      <% if notice %><div class="alert-message success fade in out" data-alert="alert" style="margin-top:15px;"><a class="close" href="#">×</a><p><%= notice %></p></div><% end %>
      <% if alert %><div class="alert-message warning fade in out" data-alert="alert" style="margin-top:15px;"><a class="close" href="#">×</a><p><%= alert %></p></div><% end %>
      <%= content_for?(:content) ? yield(:content) : yield %>
      
      <footer>
        <p>&copy; CIPP Toledo 2011</p>
      </footer>
      
    </div> <!-- /container -->
    
  </body>
</html>
