<% content_for :title do %>/Perguntas<%= yield :question_title %><% end %>


<% content_for :content do %>
  
  <div class="row">
    <div class="span11">
      <h1 class="nav_title">Perguntas</h1>
      <%= link_to 'Nova pergunta', new_question_path, :class => 'btn primary action_button' if current_user %>
      <%= content_for :questions_options do %><% end %>
      <%= content_for(:questions_content) %>
    </div>
    
    <div class="span5 related_sidebar">
      <%= render 'subjects/subjects_sidebar' %>
    </div>
  </div>
  
<% end %>


<%= render :file => 'layouts/application' %>
