<% content_for :content do %>
  <h1 class="nav_title"><%=t :subjects_label %><% if current_user %><small> [<%= link_to 'criar tema', new_subject_path %>] <%= content_for :subject_options do %><% end %></small><% end %></h1>
  
  <% if current_user %>
    <%= content_for :subject_options do %><% end %>
  <% end %>

  <div class="pagination">
    <ul>
      <li><%= link_to "Todos", temas_path %></li>
      <% Subject.pagination_letters.each do |letter| %>
        <li><%= link_to(letter, temas_path(:letter => letter)) %></li>
      <% end %>
    </ul>
  </div>

  <%= content_for(:subject_content) %>
  
<% end %>

<%= render :file => 'layouts/application' %>
