<% content_for :content do %>

  <%= stylesheet_link_tag 'subjects', :media => 'screen' %>

  <% if current_user %>
    <%= link_to 'Criar tema', new_subject_path if current_user %>
    <%= content_for :subject_options do %><% end %>
  <% end %>

  <div class="pagination">
    <ul>
      <li><%= link_to "Todos", temas_path %></li>
      <% Subject.pagination_letters.each do |letter| %>
        <li><%= link_to(letter, temas_path(:letter => letter)) %></li>
      <% end %>
    </ul>
  </div>

  <%= content_for(:subject_content) %>
  
<% end %>

<%= render :file => 'layouts/application' %>
