<% content_for :content do %>

  <%= stylesheet_link_tag 'subjects', :media => 'screen' %>

  <% if current_user %>
    <%= link_to 'Criar tema', new_subject_path if current_user %>
    <%= content_for :subject_options do %><% end %>
  <% end %>

  <ul class='pagination'>
    <strong>Jump to:</strong>
    <li><%= link_to "Todos", subjects_path %></li>
    <% Subject.pagination_letters.each do |letter| %>
      <li><%= link_to(letter, subjects_path(:letter => letter)) %></li>
    <% end %>
  </ul>

  <%= content_for(:subject_content) %>
  
<% end %>

<%= render :file => 'layouts/application' %>
