<%= content_for :content do %>

  <%= stylesheet_link_tag 'subjects', :media => 'screen' %>

  <% if current_user %>
    <%= link_to 'Criar tema', new_subject_path %> |
    <%= link_to 'Editar Tema', edit_subject_path(@subject) %> |
    <%= link_to 'Criar Tópico', new_subject_topic_path(@subject) %> |
    <%= content_for :topic_options do %><% end %>
    <%= link_to 'Voltar', subject_path(@subject) %>
  <% end %>

  <div class="pagination">
    <ul>
      <li><%= link_to "Todos", subjects_path %></li>
      <% Subject.pagination_letters.each do |letter| %>
        <li><%= link_to(letter, temas_path(:letter => letter)) %></li>
      <% end %>
    </ul>
  </div>

  <%= content_for(:topic_content) %>

<% end %>

<%= render :file => 'layouts/application' %>
