<%= content_for :title do %>/Temas/<%= @subject.title %><%= yield :subject_topic_title %><% end %>


<%= content_for :content do %>
  
  <div class="row">
    <div class="span11">
  
      <h1 class="nav_title"><%=t :subjects_label %><%= yield :topic_title %></h1>
      
      <%= link_to 'Criar tópico', new_subject_topic_path(@subject), :class => 'btn primary action_button' if current_user %>
      <%= yield :topic_options %>

      <%= content_for :topic_nav do %>
        <div class="pagination">
          <ul>
            <li><%= link_to "Todos", subjects_path %></li>
            <% Subject.pagination_letters.each do |letter| %>
              <li><%= link_to(letter, subjects_path(:letter => letter)) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= yield :topic_content %>
    </div>
    
    <div class="span5 related_sidebar">
      <%= render 'subjects/subjects_sidebar' %>
    </div>
    
  </div>

<% end %>


<%= render :file => 'layouts/application' %>
